<div class="banner mb-5">
  <div class="container">
    <h1>Your <strong>favourite</strong> movies, personalised</h1>
    <p>Never forget which movie you watched</p>
  </div>
</div>

<div class="container">

  <h2>My lists</h2>
  <p>All my lists here</p>

  <div class="cards">
    <%= render @lists %>
  </div>

  <%= link_to 'Create new list', new_list_path, class: "btn btn-primary btn-flat mt-3" %>
</div>
